.App {
  text-align: center;
  width: 65%;
  border: 2px solid lightblue;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
  background: rgba(219, 219, 255, 0.3);
  border-radius: 6px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
