body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  border: 1px solid black;
}
.bateaux {
  width:100px;
  height:200px;
  background: grey;
  float: left;
}
.grille {
  margin: 10px;
}

.case {
  fill: white;
  stroke: black;
}