body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../public/img/wallpaper.jpg');
  background-size:cover; 
}
canvas {
  border: 1px solid black;
}

.bateaux {
  min-width:200px;
  height:200px;
  background: #43575e;
  float: left;
  padding: 10px;
}
.grille {
  margin: 10px;
}

.caseMer{
  fill: white;
  stroke: black;
}
.caseBateau{
    fill:grey;
    stroke: grey;
}
.caseRadar {
    fill: lightseagreen;
    stroke: black;
}
.pionTouche{
    fill: red;
    stroke: red;
}
.pionRate{
    fill: white;
    stroke: white;
}
.bateau{
  background: #ffe876;
  height: 30px;
  margin: .2em 0;
}
.bateau-2{
    width: 80px;
}
.bateau-3{
    width: 120px;
}
.bateau-4{
    width: 160px;
}
.bateau-5{
    width: 200px;
}
.selectionne{
  stroke: #43575e;
  fill: #43575e;
}